#app {
    .aside {
        float: left;
        width: 200px;
        height: 200px;
        background-color: red;
    }
    .main {
        overflow: hidden;
        width: 600px;
        height: 600px;
        background-color: blue;
    }
}