@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(200deg);
  }
}

#app {
  .aside {
    float: left;
    width: 200px;
    height: 200px;
    background-color: red;
  }
  .main {
    overflow: hidden;
    width: 600px;
    height: 600px;
    background-color: blue;
  }
  .bfc {
    //
  }
  .father {
    width: 500px;
    height: 300px;
    border: 1px solid #0a3b98;
    position: relative;
    .son {
      width: 100px;
      height: 40px;
      background: #f0a238;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .father1 {
    position: relative;
    width: 200px;
    height: 200px;
    background: skyblue;
    .son {
      position: absolute;
      top: 50%;
      left: 50%;
      //   margin-left: -50px;
      //   margin-top: -50px;
      //   margin-left: -25%;
      //   margin-top: -25%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      background: red;
    }
  }
  .father2 {
    display: table-cell;
    width: 200px;
    height: 200px;
    background: skyblue;
    vertical-align: middle;
    text-align: center;
    .son {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: red;
    }
  }
  .father3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: skyblue;
    .son {
      width: 100px;
      height: 100px;
      background: red;
    }
  }
  .father4 {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: skyblue;
    .son {
      width: 100px;
      height: 100px;
      border: 1px solid red;
    }
  }
  .box {
    overflow: hidden;
    .left {
      float: left;
      width: 200px;
      background-color: gray;
      height: 400px;
    }
    .right {
      margin-left: 210px;
      background-color: green;
      height: 200px;
    }
  }
  .box1 {
    display: flex;
    height: 400px;
    .left {
      width: 100px;
      background-color: gray;
    }
    .right {
      flex: 1;
      background-color: green;
    }
  }
  .wrap {
    background: #eee;
    overflow: hidden;
    padding: 20px;
    height: 200px;
    .left {
      width: 200px;
      height: 200px;
      float: left;
      background: coral;
    }
    .right {
      width: 120px;
      height: 200px;
      float: right;
      background: lightblue;
    }
    .middle {
      margin-left: 220px;
      height: 200px;
      background: lightpink;
      margin-right: 140px;
    }
  }
  .hidden {
    width: 300px;
    height: 300px;
    background-color: aqua;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  .single-text {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: no-wrap;
  }
  .multi-text {
    position: relative;
    height: 40px;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    &::after {
      content: "...";
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .multi-text-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 400px;
    -webkit-line-clamp: 2;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .border {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px;
    border-color: transparent transparent #d9534f;
    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: -40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 40px 40px;
      border-color: transparent transparent #fff;
    }
  }

  .attach {
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: 100vh;
    text-align: center;
    font-size: 20vh;
    &.a-img1 {
      background-image: url(https://images.pexels.com/photos/1097491/pexels-photo-1097491.jpeg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
    }
    &.a-img2 {
      background-image: url(https://images.pexels.com/photos/2437299/pexels-photo-2437299.jpeg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
    }
    &.a-img3 {
      background-image: url(https://images.pexels.com/photos/1005417/pexels-photo-1005417.jpeg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
    }
  }
  .base {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #0ea9ff;
    border-width: 5px;
    border-style: solid;
    border-color: #5daf34;
    transition-property: width, height, background-color, border-width;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 500ms;
  }
  /* */
  /*transition: all 2s ease-in 500ms;*/
  .base:hover {
    width: 200px;
    height: 200px;
    background-color: #5daf34;
    border-width: 10px;
    border-color: #3a8ee6;
  }
  .base2 {
    transition-property: transform;
    transition-delay: 5ms;
  }
  .base2:hover {
    transform: scale(0.8, 1.5) rotate(35deg) skew(5deg) translate(15px, 25px);
  }
  .animation {
    width: 200px;
    height: 200px;
    background-color: #5daf34;
    animation: rotate 2s ease 0s 2 normal forwards;
  }

  .grid {
    display: grid;
    // grid-template-columns: 200px 200px 200px;
    grid-template-columns: 200px minmax(200px, 1fr) 200px;
    // grid-template-columns: repeat(3, 200px);
    // grid-template-rows: 100px 100px;
    grid-template-rows: repeat(2, 100px);
    gap: 20px 10px;
    // row-gap: 20px;
    // column-gap: 10px;
    .item {
      background-color: antiquewhite;
    }
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "a a a"
      "d e f"
      "g h .";
    grid-auto-flow: column;
    align-items: start;
    justify-items: end;
    place-items: start end;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
      "a a a"
      "d e f"
      "g h .";
    .item-1 {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .item-2 {
      grid-area: g;
    }
    .item {
      background-color: darkolivegreen;
    }
  }

  .flex {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    .item {
      width: 100px;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 600px) {
  #app {
    .media {
      .aside {
        background-color: yellow;
      }
      .main {
        background-color: green;
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1440px) {
  #app {
    .media {
      .aside {
        background-color: pink;
      }
      .main {
        background-color: purple;
      }
    }
  }
}

// 下方代码，translate:translate3D实现视差滚动
// #app {
//   overflow-y: scroll;
//   overflow-x: hidden;
//   height: 100%;
//   background: skyblue;
//   width: 100vw;
//   //   height: 200vh;
//   perspective: 100px;
//   transform-style: preserve-3d;
//   padding-top: 800px;
// }
// .one {
//   width: 500px;
//   height: 200px;
//   background: #409eff;
//   transform: translateZ(0px);
//   margin-bottom: 50px;
// }
// .two {
//   width: 500px;
//   height: 200px;
//   background: #67c23a;
//   transform: translateZ(-10px);
//   margin-bottom: 150px;
// }
// .three {
//   width: 500px;
//   height: 200px;
//   background: #e6a23c;
//   transform: translateZ(-200px);
//   margin-bottom: 150px;
// }
